#message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    border: 1px solid black;
}
.input-message{
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin: 5px 0 5px 10px;
    height: 2.5rem;
    padding: 0 10px;
    border: 2px solid #7400ca;
    border-radius: 7px;
}
.btn-send{
    height: 2.5rem;
    width: 2.6rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #7400ca;
    margin: 5px 5px 5px 5px;
    transition: all 0.3s ease-out;
}
.btn-send:hover{
    transform: rotateZ(-45deg);
}
.btn-send:active{
    transform: scale(90%) rotateZ(-45deg);
}